* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

/*--------------------------------- HEADER VISTAS ---------------------------------*/
nav{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    background-color: #ffffff;
    font-size: 25px;
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5) !important;
    transition: all 0.5s ease;
}
.menu-horizontal{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}
.menu-horizontal li a{
    display: block;
    padding-top: 20px;
    color: #100d6a;
    list-style: none;
    transition: all 0.5s ease;
    text-decoration: none;
}

.menu-horizontal > li:hover{
    background-color: #3456c7;

}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #ffffff;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
background-color: #100d6a;
}

.menu-vertical li a{
    display: block;
    color: #000000;
    padding: 10px 10px 10px 15px;
    text-decoration: none;
}

/*.header-vistas {
    width: 100%;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.5) !important;
}

.wrapper-vistas {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.header-vistas .logo-vistas {
    float: left;
}

.header-vistas nav {
    float: right;
    padding: 15px 10px;
    font-family: 'Merriweather', serif;
}

.header-vistas nav a {
    display: inline-block;
    color: #100d6a;
    text-decoration: none;
    padding: 5px 10px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 30px;
}

.header-vistas nav .efecto {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 30px;
    background-color: #3456c7;
}

.header-vistas nav .efecto:hover {
    background-color: #ffffff;
    color: #3456c7;
}

.header-vistas nav a:hover {
    background: #3456c7;
    color: #ffffff;
}

.header2 {
    position: fixed;
    height: 100px;
}

.header2 .logo-vistas {
    line-height: 100px;

}

.header2 nav {
    line-height: 100px;
}

.contenido-servicios p {
    margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
    .header-vistas .logo-vistas {
        align-items: center;
    }

    .header-vistas nav {
        width: 100%;
        text-align: center;
        line-height: 100px;
    }

    .header2 {
        height: auto;
    }

    .header2 .logo-vistas,
    .header2 nav {
        line-height: 50px;
    }
}
*/
/*--------------------------------- CONTENIDO CONTACTANOS ---------------------------------*/
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    margin-bottom: 40px;
}

section .info-contacto {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 35px;
    width: 90%;
    height: 90%;
    background-image: url(../img/fondo-contactanos.jpg);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    -webkit-box-shadow: 10px 10px 10px 5px rgba(153,153,153,0.73);
    -moz-box-shadow: 10px 10px 10px 5px rgba(153,153,153,0.73);
    box-shadow: 10px 10px 10px 5px rgba(153,153,153,0.73);
    margin-bottom: 25px;
}

section .info-contacto .formulario {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    margin-left: 35px;
}

section .info-contacto .formulario form {
    width: 100%;
}

section .info-contacto .formulario .texto h2 {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight: bold;
    color: #100d6a;
    text-align: center;
    padding: 0;
    letter-spacing: 2px;
}

section .info-contacto .formulario .texto p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
    color: #100d6a;
    font-weight: 600;
}

section .info-contacto .formulario form .info-usuario {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #3456c7;
}

section .info-contacto .formulario form .info-usuario label {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

section .info-contacto .formulario form .info-usuario input[type="text"],
section .info-contacto .formulario form .info-usuario input[type="email"],
section .info-contacto .formulario form .info-usuario textarea {
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: #100d6a;
    font-family: 'Montserrat', sans-serif;
    resize: none;
}

section .info-contacto .formulario form .info-usuario input[type="text"]:focus,
section .info-contacto .formulario form .info-usuario input[type="email"]:focus,
section .info-contacto .formulario form .info-usuario textarea:focus {
    outline: 3px solid #100d6a;
}

section .info-contacto .formulario form input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    background: #3456c7;
    display: inline-block;
    text-align: center;
    width: 120px;
    padding: 12px;
    border-radius: 25px;
    color: #ffffff;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.8);
    font-weight: bolder;
    margin-bottom: 25px;
}

section .info-contacto .formulario form span {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
}

section .info-contacto .formulario form input[type="submit"]:hover {
    color: #3456c7;
    background: #ffffff;
}

section .info-contacto .contenedor-contacto {
    display: flex;
    justify-content: center;
    align-items: self-end;
}

section .info-contacto .contenedor-contacto .textBox {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #100d6a;
    font-weight: 600;
}

section .info-contacto .contenedor-contacto .textBox .contacto {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    text-align: left;
    line-height: 2rem;
}

section .info-contacto .contenedor-contacto .textBox .contacto a {
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    color: #100d6a;
    transition: all 0.5s ease;

}

section .info-contacto .contenedor-contacto .textBox .contacto a:hover {
    background-color: #000000;
    color: #ffffff;
    border-radius: 35px;
    padding: 10px;
}
/*----- Para pantallas -----*/
@media only screen and (max-width: 1200px) {
    section .info-contacto{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        position: relative;
    }
}
/*----- Para tabletas -----*/
@media only screen and (max-width: 760px) {
    section .info-contacto .contenedor-contacto{
        height: 300px;
        padding: 20px;
    }
    section .info-contacto .contenedor-contacto .imagen-contacto{
        display: none;
    }
}
/*----- Para celulares -----*/

@media only screen and (max-width: 550px) {
    section .info-contacto .formulario{
    margin-left: 0px;
    width: 100%;
    }
    section .info-contacto .contenedor-contacto{
margin-bottom: 30px;
    }
    section .info-contacto .contenedor-contacto .textBox .contacto p{
        font-size: 15px;

    }
}

/*--------------------------------- FOOTER ---------------------------------*/
.footer {
    width: 100%;
    background-color: black;
}

.footer .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px; 
    padding: 20px 0px;
    color: #ffffff;
}

.footer .grupo-1 h4 {
    justify-content: center;
    align-items: center;
    font-size: 1rem; 
    padding-bottom: 15px;
    display: flex;
    letter-spacing: 3px;
    font-family: 'Merriweather', serif;
}

.footer .grupo-1 .box .masInfo p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s ease;
}

.footer .grupo-1 .box .masInfo a {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.footer .grupo-1 .box .masInfo i {
    font-size: 0.8rem;
}

.footer .grupo-1 .box .masInfo p:hover {
    background-color: #3456c7;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px;
}

.footer .grupo-1 .box .redesSociales {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer .grupo-1 .box .redesSociales a {
    color: #000000;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 15px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.5s ease;
}

.footer .grupo-1 .box .redesSociales a:hover {
    background-color: #100d6a;
    color: #ffffff;
}

.footer .grupo-1 .box .masServ ul {
    text-align: left;
    font-family: 'Merriweather', serif;
    list-style: disc;
    margin-left: 35px;
}

.footer .grupo-1 .box .masServ a {
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 18px;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    list-style-type: disc;
}

.footer .grupo-1 .box .masServ a:hover {
    color: #3456c7;
    font-weight: bold;
    text-decoration: underline;
}

.footer .grupo-2 {
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.footer .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width: 900px) {
    .footer .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 10px 0px;
        color: #ffffff;
    }
}