* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

/*--------------------------------- HEADER ---------------------------------*/
.header-vistas {
    width: 100%;
    overflow: hidden;
    background: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.5) !important;
}

.wrapper-vistas {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.header-vistas .logo-vistas {
    float: left;
}

.header-vistas nav {
    float: right;
    padding: 15px 10px;
    font-family: 'Poppins', sans-serif;
}

.header-vistas nav a {
    display: inline-block;
    color: #100d6a;
    text-decoration: none;
    padding: 5px 10px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 30px;
}

.header-vistas nav .efecto {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 30px;
    background-color: #3456c7;
}

.header-vistas nav .efecto:hover {
    background-color: #ffffff;
    color: #3456c7;
}

.header-vistas nav a:hover {
    background: #3456c7;
    color: #ffffff;
}

.header2 {
    position: fixed;
    height: 100px;
}

.header2 .logo-vistas {
    line-height: 100px;

}

.header2 nav {
    line-height: 100px;
}

.contenido-servicios p {
    margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
    .header-vistas .logo-vistas {
        align-items: center;
    }

    .header-vistas nav {
        width: 100%;
        text-align: center;
        line-height: 100px;
    }

    .header2 {
        height: auto;
    }

    .header2 .logo-vistas,
    .header2 nav {
        line-height: 50px;
    }
}

/*--------------------------------- CONTENIDO  QUIÉNES SOMOS ---------------------------------*/
.tittle h2 {
    color: #000000;
    margin: 20px;
    font-size: 1.5rem;
    letter-spacing: 3px;
    border-bottom: solid 3px;
    line-height: 42px;
    padding: 0px 0px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.General {
    border-radius: 7px;
    z-index: 2;
    height: auto;
    display: grid;
}

.letras_titulo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 0 0 5px #3456c7;
    color: #000000;
    padding-top: 80px;
    font-family: 'Poppins', sans-serif;
}

.contenedor-qs {
    display: flex;
    justify-content: center;
    padding: 30px 50px 50px;
}

.imagen-qs {
    border-radius: 10px;
    width: 600px;
    height: 400px;
    text-shadow: 0 0 5px #4a4a4a;
}

img {
    width: 100%;
    display: block;
    border-radius: 30px 30px 0 0;
}

.descripcion-qs {
    margin-right: 15px;
    text-align: justify;
}

.descripcion-qs p {
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}


/*mision, vision, valores*/
.mvv {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-bottom: 40px;
}

.card-front h3 {
    font-family: 'Poppins', sans-serif;

}

.card {
    width: 350px;
    height: 300px;
    perspective: 1000px;
    margin: 50px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.card-front {
    background-color: #3456c7;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #3456c7;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
    -webkit-box-shadow: 10px 10px 28px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 10px 10px 28px 0px rgba(176, 176, 176, 1);
    box-shadow: 10px 10px 28px 0px rgba(176, 176, 176, 1);
}

.card-back {
    background-color: #4a4a4a;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #4a4a4a;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
    -webkit-box-shadow: 10px 10px 28px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 10px 10px 28px 0px rgba(176, 176, 176, 1);
    box-shadow: 10px 10px 28px 0px rgba(176, 176, 176, 1);

}

.card-back p {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    text-align: center;
}

/*--------------------------------- FOOTER ---------------------------------*/
.footer {
    width: 100%;
    background-color: black;
}

.footer .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px; 
    padding: 20px 0px;
    color: #ffffff;
}

.footer .grupo-1 h4 {
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-bottom: 15px;
    display: flex;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
}

.footer .grupo-1 .box .masInfo p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    transition: all 0.5s ease;
}

.footer .grupo-1 .box .masInfo a {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.footer .grupo-1 .box .masInfo i {
    font-size: 0.8rem;
}

.footer .grupo-1 .box .masInfo p:hover {
    background-color: #3456c7;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px;
}

.footer .grupo-1 .box .redesSociales {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer .grupo-1 .box .redesSociales a {
    color: #000000;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 15px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.5s ease;
}

.footer .grupo-1 .box .redesSociales a:hover {
    background-color: #100d6a;
    color: #ffffff;
}

.footer .grupo-1 .box .masServ p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    list-style: circle;
}

.footer .grupo-1 .box .masServ a {
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 18px;
    transition: all 0.3s ease;
    font-family: 'Raleway', sans-serif;
    list-style-type: disc;
}

.footer .grupo-1 .box .masServ a:hover {
    color: #3456c7;
    font-weight: bold;
    text-decoration: underline;
}

.footer .grupo-2 {
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;

}

.footer .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width: 900px) {
    .footer .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 10px 0px;
        color: #ffffff;
    }
}