* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

.banners .miBanner img {
    width: 100%;
    height: 100%;
}

header {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

#logo {
    display: inline-block;
    cursor: pointer;
    margin-left: 30px;
    padding-top: 20px;
}

.Inicio {
    float: right;
    line-height: 60px;
    margin-right: 40px;
}

.Inicio a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.Quienes-somos {
    float: right;
    line-height: 60px;
    margin-right: 40px;
}

.Quienes-somos a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;

}

.Servicios {
    float: right;
    line-height: 60px;
    margin-right: 40px;
}

.Servicios a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.Contactanos {
    float: right;
    line-height: 60px;
    margin-right: 40px;

}

.Contactanos a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;

}

.inicio-sesion {
    float: right;
    line-height: 60px;
    margin-right: 40px;
}

.inicio-sesion a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;

}

.act {
    padding: 12px;
}

.Inicio,
a:hover {
    color: #3456c7;
}

.Contactanos a:hover {
    color: #3456c7;
}

.Quienes-somos a:hover {
    color: #3456c7;
}

.Servicios a:hover {
    color: #3456c7;
}

.inicio-sesion a:hover {
    color: #3456c7;
}

.banners {
    position: relative;
    width: 100%;
    background: #818181;
    ;
}

.miBanner {
    height: 655px;
    overflow: hidden;
    display: none;
}

.anterior,
.posterior {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #ffffff;
    transition: 2s;
    user-select: none;
}

.anterior:hover,
.posterior:hover {
    color: #3456c7;
}

.posterior {
    right: 0;
}

.dotsbox {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.active,
.dot:hover {
    border-color: #000000;
}

.texto {
    position: absolute;
    color: #ffffff;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
}

@-webkit-keyframes posi {
    from {
        left: 25%;
    }

    to {
        left: 15%;
    }
}

@keyframes posi {
    from {
        left: 25%;
    }

    to {
        left: 15%;
    }
}

.texto h1 {
    color: aliceblue;
    margin: 25px;
    font-weight: bold;
    font-size: 3rem;
}

.texto p {
    font-weight: bold;
    font-size: 1.5rem;
}

img {
    transform: scale(1.5, 1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 35s;
    animation-name: zoomin;
    animation-duration: 35s;
}

@-webkit-keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}

@keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}

@media screen and (max-width: 800px) {
    .miBanner {
        height: 500px;
    }

    .texto {
        line-height: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: position;
        -webkit-animation-duration: 2s;
        animation-name: position;
        animation-duration: 2s;
    }

    @-webkit-keyframes position {
        from {
            top: 30%;
        }

        to {
            top: 50%;
        }
    }

    @keyframes position {
        from {
            top: 30%;
        }

        to {
            top: 50%;
        }
    }

    .texto h1 {
        font-size: 40px;
    }

    .texto p {
        font-size: 15px;
    }
}

@media screen and (max-widht: 500px) {
    .texto h1 {
        font-size: 30px;
    }

    .Inicio {
        margin-right: 20px;
    }

    .Quienes-somos {
        margin-right: 20px;
    }

    .Servicios {
        margin-right: 20px;
    }

    .Contactanos {
        margin-right: 20px;
    }

    .inicio-sesion {
        margin-right: 25px;
    }
}






/*Footer*/
.footer {
    width: 100%;
    background-color: #979797;
}

.footer .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 45px 0px;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.footer .grupo-1 .box h2 {
    color: beige;
    margin-bottom: 25px;
    font-size: 20px;
    margin-left: 20px;
}

.footer .grupo-1 .redesSociales a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    background-color: #364780;
    border-radius: 30px;
    text-align: center;
    transition: all 300ms ease;
}

.footer .grupo-1 .redesSociales a:hover {
    color: #3456c7;
}

.footer .grupo-2 {
    background-color: #364780;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.footer .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:900px) {
    .footer .grupo-1 {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        padding: 35 px 0px;
    }
}

/*Login*/
.contenedor {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/login.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 60px;
}

.contenedor h2 {
    color: beige;
    margin-bottom: 25px;
    font-size: 40px;
    margin-left: 20px;
    text-transform: uppercase;
}

input {
    outline: 0;
    background-color: #ffffff;
    width: 100%;
    border-radius: 30px;
    margin: 0 0 15px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 15px;
}

.boton {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: #ffffff;
    background-color: #041036;
    font-size: 15px;
    transition: all 0.5 ease;
    cursor: pointer;
}

.boton:hover {
    background: #9da7c5;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #3f4042;
    max-width: 360px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

/*Nosotros*/
#sectionA {
    width: 100%;
    min-height: 100vh;
}

.container_nosotros {
    width: 80%;
    display: block;
    margin: auto;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    padding-top: 100px;
    float: right;
    width: 40%;
}

.image-section img {
    width: 100%;
    height: 450px;
    border-radius: 20px;
    border-radius: 15px;
    box-shadow: 15px 15px 35px rgba(115, 98, 202, 0.7);
}

.content-section .content h3 {
    margin-top: 20px;
    color: #000000;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.content-section .content p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
}

.content-section .content .button {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-section .content .button a {
    background-color: black;
    padding: 12px 40px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    letter-spacing: 1.5px;
    border: 1px solid white;
}

.content-section .content .button a:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}