* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

/*Header*/
.cont {
    max-width: 1200px;
    margin: 0 auto;
}

.back {
    background-color: #364780;
}

.navbar ul li {
    list-style-type: none;
}

.menu {
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding-right: 15px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 1rem;
    padding: 20px;
    color: #ffffff;
    display: block;
    text-decoration: none;
    transition: all 0.5s ease;

}

.menu .navbar ul li a:hover {
    color: #3456c7;
    font-weight: bolder;
}

.menu-icono {
    width: 35px;
}

.menu label {
    cursor: pointer;
    display: none;
}

@media(max-width:900px) {
    .menu {
        padding: 25px;
    }

    .menu label {
        display: initial;
    }

    .back {
        padding: 50px 0;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #364780;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
        padding: 50px;
    }
}

#menu {
    display: none;
}

/*Header*/
header {
    height: 65px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 6;
}
.headerVistas{
    background-color: #3f4042;
}
#logo {
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
}

.vistasIniciales {
    float: right;
    line-height: 60px;
    margin-right: 20px;
    margin-top: 10px;
}

.vistasIniciales a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
}

.vistasIniciales a:hover {
    color: #3456c7;
}


/*Banners*/
.main {
    height: 100vh;
    width: 100%;
}

.wrapper,
.slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    overflow: hidden;
}

.slide::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.400);
    z-index: 10;
}

.slide .imagenes {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imagenes {
    filter: brightness(50%);
}

.slide .contenidoImagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 100;
}

.contenidoImagen h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}

.contenidoImagen h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #f5f5dc;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    color: #3f4042;
    background: #ffffff;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.5s ease;
    font-size: 1rem;

}

a.button:hover {
    color: #ffffff;
    background-color: #364780;
}

.contenidoImagen p {
    font-size: 2rem;
    font-weight: bolder;
    color: #f5f5dc;
    justify-content: center;
    align-items: center;
    padding: 350px;
    display: flex;
}

/*swiper button*/

.nav-btn::before,
.nav-btn::after {
    font-size: 30px;
    color: #ffffff;
}

.swiper-button-prev {
    left: 50px;
}

.swiper-button-next {
    right: 50px;
}

.swiper-pagination-bullet {
    opacity: 2;
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    visibility: hidden;
}

.swiper-pagination-bullet-active {
    border: 1px solid #ffffff;
    background-color: #041036;
}

@media screen and (max-widht:750px) {
    .nav-btn {
        visibility: hidden;
    }

    .swiper-pagination-bullet {
        visibility: visible;
    }
}


/*Footer*/
.footer {
    width: 100%;
    background-color: #000000;
}

.footer .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 45px 0px;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.footer .grupo-1 .box h2 {
    color: beige;
    font-size: 20px;
    margin-left: 20px;
}

.footer .grupo-1 .redesSociales a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 30px;
    text-align: center;
    transition: all 300ms ease;
}

.footer .grupo-1 .redesSociales a:hover {
    color: #3456c7;
}

.footer .grupo-2 {
    background-color: #000000;
    padding: 15px 10px;
    text-align: center;
    color: #ffffff;
}

.footer .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:900px) {
    .footer .grupo-1 {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        padding: 35 px 0px;
    }
}

/*Login*/
.contenedor {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/login.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 60px;
}

.contenedor h2 {
    color: beige;
    margin-bottom: 25px;
    font-size: 40px;
    margin-left: 20px;
    text-transform: uppercase;
}

input {
    outline: 0;
    background-color: #ffffff;
    width: 100%;
    border-radius: 30px;
    margin: 0 0 15px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 15px;
}

.boton {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: #ffffff;
    background-color: #041036;
    font-size: 15px;
    transition: all 0.5 ease;
    cursor: pointer;
}

.boton:hover {
    background: #9da7c5;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #3f4042;
    max-width: 360px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

/*Nosotros*/
#sectionA {
    width: 100%;
    min-height: 100vh;
}

.container_nosotros {
    width: 80%;
    display: block;
    margin: auto;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    padding-top: 100px;
    float: right;
    width: 40%;
}

.image-section img {
    width: 100%;
    height: 450px;
    border-radius: 20px;
    border-radius: 15px;
    box-shadow: 15px 15px 35px rgba(115, 98, 202, 0.7);
}

.content-section .content h3 {
    margin-top: 20px;
    color: #000000;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.content-section .content p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
}

.content-section .content .button {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-section .content .button a {
    background-color: black;
    padding: 12px 40px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    letter-spacing: 1.5px;
    border: 1px solid white;
}

.content-section .content .button a:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}